{% extends 'layout.html' %}
{%block content%}
<h1 align="center">Covid-19 India ChatBot</h1>
<div style="text-align:center">  
<br>
<div class="but"><a href="https://wa.me/+14155238886/?text=join cookies-path" class="btn btn-success">Click to begin conversation on WhatsApp</a>
<br>
<br>
</div>
<h5 align="center"><font color="white">(Requires WhatsApp to be installed on your device)</h5> 
<h5 align="center"><font color="white">Activation code is filled in by default,just press send to activate bot </h5> 
<br>
<h5 align="center"><font color="white">Once activated send " Hi " to begin conversation</h5>
<br>
<br>
<h2 align="center" class="fet">Notable Features</h2>
<div class="responsive">
<div class="gallery">
<br>
<img src="{{url_for('static', filename='image45.png')}}" alt="Image3" width="600" height="300">
<br>
<h2 class="imagename" align="center">Self diagnosing quiz(Beta)</h2>
<br>
<br>
<h3 class="imagedesc">Self diagnosing quiz let's you keep track of your health easily,know whether you have any symptoms matching covid.</h3>
</h3>
</div>
</div>
<div class="responsive">
<div class="gallery">
<br>
<img src="{{url_for('static', filename='image9.png')}}" alt="image2" width="600">
<br>
<h2 class="imagename" align="center">User Friendly Menu</h2>
<br>
<br>
<h3 class="imagedesc">An user friendly menu system that shows all the options available to user,user just have to reply with respective codes to view more information.</h3>
</div>
</div>
<div class="responsive">
<div class="gallery">
<br>
<img src="{{url_for('static', filename='image22.png')}}" alt="Image3" width="600" height="300">
<br>
<h2 class="imagename" align="center">Donate</h2>
<br>
<br>
<h3 class="imagedesc">Donate to various charity right through the bot,we have handpicked the best NGO's out there that are working relentlessly to help less priveleged people.</h3>
</div>
</div>
<div class="responsive">
<div class="gallery">
<br>
<img src="{{url_for('static', filename='image46.png')}}" alt="image2" width="600">
<br>
<h2 class="imagename" align="center">Tracker</h2>
<br>
<br>
<h3 class="imagedesc">We have included perhaps one of the best trackers in India with this chatbot,thanks to <a href="https://www.covid19india.org/" class="dhoondh">covid19India.org</a> for such a great initative.</h3>
</div>
</div>
<div class="responsive">
<div class="gallery">
<br>
<img src="{{url_for('static', filename='image47.png')}}" alt="image2" width="600">
<br>
<h2 class="imagename" align="center">Nearby Hospitals</h2>
<br>
<br>
<h3 class="imagedesc">Know the nearby testing and dedicated hospitals in your area incase of emergencies.List is shown as per user state</h3>
</div>
</div>
<div class="responsive">
<div class="gallery">
<br>
<img src="{{url_for('static', filename='image50.png')}}" alt="image2" width="600">
<br>
<h2 class="imagename" align="center">Know the myths</h2>
<br>
<br>
<h3 class="imagedesc">Tired of so many WhatsApp forwards regarding covid? want to know if it's real or just another made up news? we got you covered. </h3>
</div>
</div>
<div class="responsive">
<div class="gallery">
<br>
<img src="{{url_for('static', filename='image51.png')}}" alt="image2" width="600">
<br>
<h2 class="imagename" align="center">Small Talks</h2>
<br>
<br>
<h3 class="imagedesc">Feel bored?You can talk to the bot and maybe lighten up your mood.<br>( Don't worry we keep bad jokes to ourselves :) )</h3>
</div>
</div>
<div class="responsive">
<div class="gallery">
<br>
<img src="{{url_for('static', filename='image24.png')}}" alt="image2" width="600">
<br>
<h2 class="imagename" align="center">Dhoondh</h2>
<br>
<br>
<h3 class="imagedesc">Dhoondh.com aims to make the process of matching covid-19 patients with potential plasma donors smart and seamless.<a href="https://dhoondh.com/" class="dhoondh">Headover to their website to know more.</a>
</h3>
</div>
</div>

<div class="responsive">
<div class="gallery">
<br>
<img src="{{url_for('static', filename='image52.png')}}" alt="image2" width="600">
<br>
<h2 class="imagename" align="center">FAQ</h2>
<br>
<br>
<h3 class="imagedesc">Get all your questions regarding the pandemic answered,with our most frequently answered questions<br><br></h3>
</div>
</div>
<div class="responsive">
<div class="gallery">
<br>
<img src="{{url_for('static', filename='image53.png')}}" alt="image2" width="600">
<br>
<h2 class="imagename" align="center">Helplines</h2>
<br>
<br>
<h3 class="imagedesc">Know whom to call during emergencies or to get yourself tested.<br><br></h3>
</div>
</div>
<div class="responsive">
<div class="gallery">
<br>
<img src="{{url_for('static', filename='image56.png')}}" alt="image2" width="600">
<br>
<h2 class="imagename" align="center">Feedback system</h2>
<br>
<br>
<h3 class="imagedesc">Not everyone likes us sometimes :) but we can improve ourselves using constructive feedback <br>(Don't worry we don't keep grudges against anyone :) )</h3>
</div>
</div>
<div class="responsive">
<div class="gallery">
<br>
<img src="{{url_for('static', filename='image57.png')}}" alt="image2" width="600">
<br>
<h2 class="imagename" align="center">Important Announcements</h2>
<br>
<br>
<h3 class="imagedesc">Get to know any important announcements by healthcare or the government.<br><br></h3>
</div>
</div>
<div class="clearfix"></div>
<br>
<br>
<br>
<h1 align="center">Demo video</h1>
<br>
<video width="300" height="auto" controls>
      <source src="{{url_for('static', filename='video.mp4')}}" type=video/ogg>
      <source src="{{url_for('static', filename='video.mp4')}}" type=video/mp4>
    </video>
<a href="https://
<br>



<br>
<br>
<br>

{%endblock%}