{% extends 'layout.html' %}
{%block content%}
<head>
<style>
.about-section {
  padding: 10px;
  text-align: center;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 80px;
  border: 2px solid black;
  border-radius:15px;
  background-color: #000000;
background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
  color: white;
}
 
</style>
</head>
<body>
<div class="about-section">
  <h1>Sources</h1>

</div>

<div>
<br>
<br>
<br>
<br>
<br>
<div class="credit">

 <table class="center">
  <tr>
    <th>Function</th>
    <th>Credit</th>
  </tr>
  <tr>
    <td>Myths,Facts</td>
    <td>World health organization
</td>
<tr>
    <td>Covid 19 tracker</td>
    <td>Covid19India.org
</td>
<tr>
    <td>Plasma</td>
   <td>Dhoondh.com
</td>
<tr>
    <td>Announcements</td>
    <td>www.mohfw.gov.in</td></a>
</table>
<br>

 <table class="center">
  <tr>
    <th>Libraries</th>
    <th>Credit</th>
  </tr>
  <tr>
    <td>Twilio</td>
    <td>Twilio.com
</td>
<tr>
    <td>Python</td>
    <td>Python.org</td>
<tr>
    <td>Flask</td>
    <td>Python flask</td>
<tr>
    <td>Dialog flow</td>
    <td>Google Dialogflow</td>
</table>

{%endblock%}